<h1>Details for {{ client.FirstNameClient }} {{ client.LastNameClient }}</h1>

<ng-container *ngIf="!client">
  <div class="alert alert-danger">Client not found</div>
</ng-container>

<ng-container *ngIf="client">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Personal Information</h5>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <p><strong>First Name:</strong></p>
        </div>
        <div class="col-md-8">
          <p>{{ client.FirstNameClient | titlecase }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><strong>Last Name:</strong></p>
        </div>
        <div class="col-md-8">
          <p>{{ client.LastNameClient | uppercase }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><strong>Birth Day:</strong></p>
        </div>
        <div class="col-md-8">
          <p>{{ client.BirthDayClient | date:'MMM d, y' }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><strong>Gender:</strong></p>
        </div>
        <div class="col-md-8">
          <p>{{ client.GenreClient ? 'Male' : 'Female' }}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-info d-flex" (click)="backToList()">
        <span class="material-icons mr-3">
          keyboard_return
        </span>
        <span>
          Return
        </span>
      </button>
    </div>
  </div>
</ng-container>


