<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand mr-auto" [routerLink]="['']">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['home']" routerLinkActive="router-link-active">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['products']" routerLinkActive="router-link-active">Listes Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['transactions']" routerLinkActive="router-link-active">Les Transactions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['promotions']" routerLinkActive="router-link-active">Les Promotions</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown ml-5">
      <app-bropdown class="mr-5"></app-bropdown>
    </li>
  </ul>
</nav>
