<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card mt-5 mb-3">
        <div class="card-header bg-primary text-white">
          <h4><i class="fas fa-user-plus me-2"></i>Inscription</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    placeholder=" "
                    required
                  />
                  <label for="firstName">Prénom</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    placeholder=" "
                    required
                  />
                  <label for="lastName">Nom</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="date"
                    class="form-control"
                    id="birthDate"
                    placeholder=" "
                    required
                  />
                  <label for="birthDate">Date de naissance</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder=" "
                    required
                  />
                  <label for="email">Adresse email</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="genre"
                    placeholder=" "
                    required
                  />
                  <label for="genre">Genre</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    placeholder=" "
                    required
                  />
                  <label for="address">Adresse</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    placeholder=" "
                    required
                  />
                  <label for="city">Ville</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="postalCode"
                    placeholder=" "
                    required
                  />
                  <label for="postalCode">Code postal</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="country"
                    placeholder=" "
                    required
                  />
                  <label for="country">Pays</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="number"
                    placeholder=" "
                    required
                  />
                  <label for="number">Phone</label>
                </div>
              </div>
            </div>
            <h3>Informations de Connexion</h3>
            <div class="form-floating mb-3">
              <input
                type="pseudo"
                class="form-control"
                id="pseudo"
                placeholder=" "
                required
              />
              <label for="pseudo">Pseudo</label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password1"
                    placeholder=" "
                    required
                  />
                  <label for="password1">Mot de Passe</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password2"
                    placeholder=" "
                    required
                  />
                  <label for="password2">Vérifié Mot de Passe</label>
                </div>
              </div>
            </div>
            <h3>Informations de paiement</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="cardType"
                    placeholder=" "
                    required
                  />
                  <label for="cardType">Type de carte</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="cardNumber"
                    placeholder=" "
                    required
                  />
                  <label for="cardNumber">Numéro de carte</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="cardName"
                placeholder=" "
                required
              />
              <label for="cardName">Nom sur la carte</label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="cardExpiration"
                    placeholder=" "
                    required
                  />
                  <label for="cardExpiration">Date d'expiration</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="cardCVV"
                    placeholder=" "
                    required
                  />
                  <label for="cardCVV">CVV</label>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary me-2">Inscription</button>
              <button type="button" class="btn btn-secondary">Retour</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
