<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form novalidate [formGroup]="">
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="birthday">Birth Day</label>
              <input type="date" class="form-control" id="birthday">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="gender">Gender</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="material-icons">wc</i>
                  </div>
                </div>
                <select class="custom-select" id="gender">
                  <option value="" selected disabled>Choose your gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <button type="submit" class="btn btn-success mr-2">
            <i class="material-icons align-middle">save</i>
            <span class="align-middle">Save</span>
          </button>
          <button type="reset" class="btn btn-warning mr-2">
            <i class="material-icons align-middle">settings_backup_restore</i>
            <span class="align-middle">Initialize</span>
          </button>
          <button type="button" class="btn btn-info">
            <i class="material-icons align-middle">arrow_back</i>
            <span class="align-middle">Back</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
