<div class="dropdown" (click)="toggleDropdown()">
  <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown">
    <i class="fas fa-user fa-lg"></i> Profil
  </a>
  <div class="dropdown-menu dropdown-menu-right ml-auto mt-2" [ngClass]="{'show': isOpen}" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">
      <i class="fas fa-user-circle"></i> Profil
    </a>
    <a class="dropdown-item" href="#">
      <i class="fas fa-cog"></i> Configuration
    </a>
    <a class="dropdown-item" href="#">
      <i class="fas fa-question-circle"></i> Aide
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
      <i class="fas fa-sign-out-alt"></i> Déconnexion
    </a>
  </div>
</div>
