<div class="container" *ngIf="clients">
  <hr>
  <h2 class="mb-2">{{title}}</h2>
  <div class="row">
    <div class="col-md-8 text-left">
      <button
        class="btn btn-outline-danger my-2 my-sm-0"
        type="button"
        [routerLink]="['/client/add']"
        >Add Client</button>
    </div>
    <div class="col-md-4 text-right">
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="clientFilter" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Find </button>
      </div>
    </div>
  </div>

  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birth Day</th>
        <th scope="col">Genre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let client of filteredClients; let i = index">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{client.FirstNameClient}}</td>
          <td>{{client.LastNameClient}}</td>
          <td>{{client.BirthDayClient | date:'MMM d, y' }}</td>
          <td>{{client.GenreClient ? 'Male' : 'Female' }}</td>
          <td>
            <span>
              <span
                class="material-icons text-danger ml-2 p-2 btn"
                [routerLink]="['/clients','edit']"
                [queryParams]="{ idInput: client.Id }">edit</span>
              <span
                class="material-icons text-danger ml-2 p-2 btn"
                (click)="deleteClient(client.Id)">delete</span>
              <span
                class="material-icons text-primary ml-2 p-2 btn"
                [routerLink]="['/clients', client.Id]"
              >helps</span>
            </span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
